.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Link {
  text-decoration: none;
  color: gray;
}

.Active-Link {
  text-decoration: none;
  color: #f44336;
}

.Regular-Text {
  color: #757575;
}

.Button {
  background-color: #f44336 !important;
  width: 50%;
  height: 50%;
  border-radius: 0;
}

.Button:hover {
  background-color: #00001A !important;
}

.New-Articles {
  background-color: #00001A;
}

.New-Article-Heading {
  color: #E9AA52;
}

a.New-Article-Link {
  text-decoration: none;
  color: #fff;
}

a.New-Article-Link:active {
  color: #E9AA52;
}

a.New-Article-Link:hover {
  color: #E9AA52;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
